.navMenu{
    margin: 40px auto;
    min-width: 149px;
    width: 20%;
    text-align: center;
    text-shadow: .2em 1em 10px rgb(255, 255, 255);
   /* border:10%;
    border-radius:25px;
    border-style: solid;
    border-color: black;
    background-color: green;*/
}
.navMenu a{
    color: rgb(223, 226, 218);
    text-align: center;
}

.navMenu a:hover{
    color: black;
    cursor: pointer;
}

.navChild{
    text-align: center;
}

.navList{
   font-size: 2em; 
}

.title{
    display: flex;
    margin: 0 auto;
    min-width: 149px;
    max-width:35%;
    text-align: center;
    border:10%;
    border-radius:25px;
    border-style: solid;
    border-color: black;
    justify-content: center;
    animation-name: words;
    animation-duration: 2.5s;
    transition: linear 2s ease-in;
    background-color:green;
    box-shadow:-18px 15px 18px black;
}

.meContainer{
    display:flex;
    flex-direction: row;
    background-color: rgb(95, 92, 92);
    min-width: 622px;
}

.KnowMe{
    font-family: sunset_boulevard_2;
    margin: 20px auto ;
    width: 2500px;
    min-width: 460px;
    max-height: 250px;
    overflow: hidden;
    animation-name: photoIn;
    animation-duration: 2.5s;
    transition: linear 2s ease-in;
}

.Info p{
    font-size: 1.5em;
    text-shadow:-18px 20px 18px black;
    margin: 0 auto;
}

.photo{
    max-width: 50%;
    display: flex;
}

.myPhoto{
    max-width: 50%;
    min-width: 140px;
    box-shadow:-10px 15px 18px black;
    border: 4px;
    border-style: solid;
    border-radius:20px;
    border-color: black;
    animation-name: photoIn;
    animation-duration: 2.5s;
    transition: linear 2s ease-in;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 20px auto;
}

.WhoAmI{
    max-width: 100%;
    min-width: 622px;
    max-height: 316px;
    display: flex;
    justify-content: center;
    background-color: rgb(95, 92, 92);

}

.quote{
    width: 40em;
    justify-content: center;
    overflow: hidden;
    animation-name: words;
    animation-duration: 2.5s;
    transition: linear 2s ease-in;
    text-align: center;
    flex-grow: 3; 
}

.quote_text{
    font-family: sunset_boulevard_2;
    font-size: 1.5em;
    color:rgb(11, 11, 11);
    text-shadow: .2em .5em 10px rgb(255, 255, 255);
    max-height: 200px;
    max-width: 100%;
    min-width: 600px;
    align-self: flex-start;
    color:white;
}

.edu{
    background-color: rgb(52, 66, 96);
    min-width: 622px;
}

.education {
    display: flex;
    font-family: sunset_boulevard_2; 
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    text-shadow: .2em 1em 10px rgba(180, 33, 173, 0.5);
    animation-name: photoIn;
    animation-duration: 2.5s;
    transition: linear 2s ease-in;
}

.ac,.Forsyth,.education{
    min-width: 459.33px;
}

.ac ul, .Forsyth ul{
    font-size: 4em;
}

.ac li, .Forsyth li{
    font-size: .5em;
}

.skills{
    bottom: 3em;
    color: white;
    font-size: 20px;
    text-align:center;
    justify-content: center;
    background-color: rgb(52, 66, 96);
    min-width: 622px;
}

.projectHeader{
    display: flex;
    margin: 0 auto;
    min-width: 217px;
    max-width:35%;
    text-align: center;
    border:10%;
    border-radius:25px;
    border-style: solid;
    border-color: black;
    justify-content: center;
    animation-name: words;
    animation-duration: 2.5s;
    transition: linear 2s ease-in;
    background-color:green;
    box-shadow:-18px 15px 18px black;
}

.projectNavMenu{
    display: flex;
    justify-content: center;
}

.Cards:nth-child(4){
    flex-grow: 3;
}

.indent{
    text-indent: 30px;
}

.name{
    color:white;
}

p{
    color: white;
    text-align: center;
    font-size: 30px;
    text-align: left;
}

.contact{
    text-align: center; 
    margin: 0 auto;
    display: block;
    color:rgb(22, 203, 212);
}

.ContactMe{
    opacity: 50%;
}
.ContactMe:hover{
    opacity: 100%;
}

.submitButton{
    margin: 0 auto;
    display:block;
    width:10%;
    font-size: 20px;
}

.container{
    display:flex;
    gap: 2em;
    flex-wrap: wrap;
    min-width: 320px;
}
.Cards{
    box-shadow:18px 15px 9px black;
    background-color: rgb(71, 65, 65);
    border-radius: 30px;
    margin: 0 auto;
    transition: all 4000ms;
    max-width: 20em;
    overflow: hidden;
}

.CardInfo{
    padding: 2px 16px;
    background-color: rgb(71, 65, 65);
    height: auto;
}

.cardImg{
    width:100%;
}

#calc{
    width: 110%;
}

.CardInfo h2{
    text-align: center;
}

.Cards:hover{
    box-shadow:-20px -30px 18px black;
    max-width:30em;
}

li{
    color:white;
    font-size:20px;
    list-style: none;
}

ul{
    color:white;
    font-size:20px;
}
form{
    color:white;
    
}

label{
    display: inline-block;
    text-align: right;
    width:43%;
}

input{
    display: inline-block;
    padding:4px 8px;
}

html{
    background-color: rgb(28, 28, 99);
    width: 100vw;
    height: 100vh;
    /*animation: backgroundChange 60s infinite linear;*/
}

body{
    width: 100vw;
    height: 100vh;
}

.css{
    max-width: 10em;
}

.css3{
    max-width: 14em;
    position: relative;
    top:2em;
}

.css4{
    max-width: 13em;
    position: relative;
    left:0em;
    top:1em;
}

@font-face{
    font-family:sunset_boulevard_2;
    src:url(../sunset_boulevard_2/SunsetBoulevard-Regular.woff2);
}

@keyframes photoIn{
    0%{
        transform:translateX(30em);
    }
    
    100%{
        transform:translateX(.3em);
    }
}

@keyframes words{
    0%{
        transform:translateX(16em);
    }
    
    100%{
        transform:translateX(0em);
    }
}

@keyframes backgroundChange{
    0%{
        background:linear-gradient(45deg, red,green,pink );
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    25%{
        background:linear-gradient(45deg, rgb(0, 255, 166),rgb(210, 195, 65),rgb(110, 98, 100) );
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    50%{
        background:linear-gradient(45deg, rgb(254, 128, 162),green,pink );
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    75%{
        background:linear-gradient(45deg, rgb(65, 63, 63),rgb(17, 148, 255),rgb(197, 166, 13) );
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    100%{
        background:linear-gradient(45deg, red,green,pink );
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

/* Mobile small - 320px
@media only screen and (min-width:320px){
    h1 p{
       max-width: 50%;
       height: 20%;
       text-overflow: clip;
       overflow: hidden;
       font-size: 1em; 
       border-radius: 10px;
       border: 40%;
       margin: 0 auto;
    }

    p{
        font-size: 12px;
    }

    .myPhoto{
        position: absolute;
        right: -8em;
        top: 6em;
        width: 28%;
    }
} */
/* Mobile medium - 375px */

/* Mobile Large - 425px*/

/* Tablet - 768px*/