.navMenu{
    display: flex;
    margin: 40px auto;
    min-width: 149px;
    max-width:35%;
    text-align: center;
    border:10%;
    border-radius:25px;
    border-style: solid;
    border-color: black;
    justify-content: center;
    animation-name: words;
    animation-duration: 2.5s;
    transition: linear 2s ease-in;
    background-color:green;
    box-shadow:-18px 15px 18px black;
}
.navMenu a{
    color: rgb(223, 226, 218);
    text-align: center;
}

.navMenu a:hover{
    background-color: rgb(172, 173, 177);
    cursor: pointer;
}

.navChild{
    text-align: center;
    margin: 0 auto;
    
}

.navList{
   font-size: 2em; 
   margin: 0 auto;
}

.title{
    display: flex;
    margin: 40px auto;
    min-width: 149px;
    max-width:35%;
    text-align: center;
    border:10%;
    border-radius:25px;
    border-style: solid;
    border-color: black;
    justify-content: center;
    animation-name: words;
    animation-duration: 2.5s;
    transition: linear 2s ease-in;
    background-color:green;
    box-shadow:-18px 15px 18px black;
}

.getToKnowMe{
    display: flex;
    border:10%;
    border-radius:25px;
    border-style: solid;
    border-color: black;
    background-color: green;
    font-family: sunset_boulevard_2;
    
}

.info{
    justify-content: center;
    align-self: center;
}

.photo{
    max-width: 50%;
}

.myPhoto{
    max-width: 25%;
    min-width: 140px;
    box-shadow:-18px 15px 18px black;
    border: 4px;
    border-style: solid;
    border-radius:20px;
    border-color: black;
    animation-name: photoIn;
    animation-duration: 2.5s;
    transition: linear 2s ease-in;
    align-items: flex-start;
}

.WhoAmI{
    max-width: 98%;
    min-width: 886px;
    max-height: 316px;
    display: flex;
    justify-content: center;

}

.quote{
    width: 40em;
    justify-content: center;
    overflow: hidden;
    border:10%;
    border-radius:25px;
    border-style: solid;
    border-color: black;
    background-color: green;
    animation-name: words;
    animation-duration: 2.5s;
    transition: linear 2s ease-in;
    text-align: center;
}

.quote_text{
    font-family: sunset_boulevard_2;
    min-width: 414px;
    font-size: 2em;
    color:rgb(11, 11, 11);
    text-shadow: .2em .2em 10px white;
    max-height: 200px;
    max-width: 100%;
    flex-grow: 3; 
    align-self: flex-start;
    
}

.education {
    display: flex;
    font-family: sunset_boulevard_2; 
    border:40%;
    border-radius:20px;
    border-style: solid;
    border-color:black;
    flex-direction: column;
    text-align: center;
    min-width: 304px;
    margin: 0 auto;
}


.skills{
    bottom: 3em;
    color: white;
    font-size: 20px;
    text-align:center;
    justify-content: center;
}

.getToKnowMe{
  position: relative;  
  text-align: center;
  top:50em;
}

.indent{
    text-indent: 30px;
}

.name{
    color:white;
}

p{
    color: white;
    text-align: center;
    font-size: 30px;
    text-align: left;
}

.contact{
    text-align: center; 
    margin: 0 auto;
    display: block;
    color:rgb(22, 203, 212);
}

.ContactMe{
    opacity: 50%;
}
.ContactMe:hover{
    opacity: 100%;
}

.submitButton{
    margin: 0 auto;
    display:block;
    width:10%;
    font-size: 20px;
}

.container{
    display:flex;
    gap: 2em;
}
.Cards{
    box-shadow:18px 15px 9px black;
    background-color: rgb(71, 65, 65);
    border-radius: 30px;
    margin: 0 auto;
    transition: all 4000ms;
    max-width: 20em;
    overflow: hidden;
}

.CardInfo{
    padding: 2px 16px;
    background-color: rgb(71, 65, 65);
    height: auto;
}

.cardImg{
    width:100%;
}

#calc{
    width: 110%;
}

.CardInfo h2{
    text-align: center;
}

.Cards:hover{
    box-shadow:-20px -30px 18px black;
    max-width:30em;
}

li{
    color:white;
    font-size:20px;
    list-style: none;
}

ul{
    color:white;
    font-size:20px;
}
form{
    color:white;
    
}

label{
    display: inline-block;
    text-align: right;
    width:43%;
}

input{
    display: inline-block;
    padding:4px 8px;
}

html{
    background:linear-gradient(45deg, red,green,pink );
    background-size:auto;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
}

.css{
    max-width: 10em;
}

.css3{
    max-width: 14em;
    position: relative;
    top:2em;
}

.css4{
    max-width: 13em;
    position: relative;
    left:0em;
    top:1em;
}

@font-face{
    font-family:sunset_boulevard_2;
    src:url(../sunset_boulevard_2/SunsetBoulevard-Regular.woff2);
}

@keyframes photoIn{
    0%{
        transform:translateX(-30rem);
    }
    
    100%{
        transform:translateX(.3em);
    }
}

@keyframes words{
    0%{
        transform:translateX(16em);
    }
    
    100%{
        transform:translateX(0em);
    }
}

/* Mobile small - 320px
@media only screen and (min-width:320px){
    h1 p{
       max-width: 50%;
       height: 20%;
       text-overflow: clip;
       overflow: hidden;
       font-size: 1em; 
       border-radius: 10px;
       border: 40%;
       margin: 0 auto;
    }

    p{
        font-size: 12px;
    }

    .myPhoto{
        position: absolute;
        right: -8em;
        top: 6em;
        width: 28%;
    }
} */
/* Mobile medium - 375px */

/* Mobile Large - 425px*/

/* Tablet - 768px*/